/* Dark Mode Main Window */

QMainWindow {
    background-color: #617073;
}

QApplication {
    border-color: rgb(29, 32, 63);
}

/* Header */

#headerWidget {
    /*border: 2px solid red;*/
    background-color: transparent;
}

#headerWidget QMenuBar {
    background-color: rgb(103, 127, 189);
    border: none;
    font-weight: bold;
    color: white;
    padding: 6px;
    spacing: 10px;
    border-radius: 6px;
}

#headerWidget QMenuBar::item {
    padding: 6px;
    background: transparent;
    border-radius: 6px;
}

#headerWidget QMenuBar::item:selected {
    background: #a8a8a8;
}

#headerWidget QMenu {
    color: white;
    font-weight: bold;
    border-radius: 6px;
    background-color: #6da1b1;
}

#headerWidget QMenu::selected {
    background-color: rgba(255, 255, 255, 0.489);
    color: gray;
}

/*
QMenuBar {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 lightgray, stop:1 darkgray);
    spacing: 3px;
}

QMenuBar::item:pressed {
    background: #888888;
}*/


#themeButton {
    background-color: rgb(238, 238, 238);
    border-radius: 4px;
    height: 15px;
    width: 15px;
    border: 2px solid transparent;
}

#themeButton:hover {
    border-color: rgb(231, 231, 231);
}

/* Creds Widget */

#searchCredsInput {
    border: 1px solid gray;
    border-radius: 4px;
    width: 50px;
}

#credsSearchTypeBox {
    border: 1px solid transparent;
    background-color: rgb(235, 236, 238);
    border-radius: 4px;
}

#credsSearchTypeBox, #searchCredsInput {
    padding: 10px;
}

#credsWidget {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

#credsWidget QScrollArea {
    background-color: transparent;
}

#credsWidget, #credsContainer {
    background-color: rgb(72, 113, 160);
}

#credsContainer {
    margin: 0;
}

#credBox {
    border: 2px solid rgb(60, 67, 73);
    border-radius: 16px;
}

#credDetailsBox {
    text-align: center;
    /*border: 2px solid red;*/
}

#credDetailsBox QLabel {
    background-color: rgba(255, 255, 255, 0.795);
    border: 1px solid rgb(167, 167, 167);
    border-radius: 8px;
    padding: 5px;
}

/*#nameLabelsContainer > QLabel:firs {
    width: 3ex;
    color: red;
}*/

#editCredButton {
    background-color: rgb(55, 72, 85);
    border: 1px solid rgb(55, 72, 85);
    color: white;
    height: 25px;
    top: 20px;
    margin-top: 10%;
}

#editCredButton:hover {
    background-color: #6da1b1;
    border-color: rgb(44, 44, 44);
}

#editCredButton, #deleteCredButton {
    border-radius: 8px;
    padding: 10px;
}

#deleteCredButton, #cancelButton {
    background-color: rgba(210, 85, 85, 0.727);
    border: none;
    color: white;
}

#cancelButton {
    padding: 2px;
    border: none;
    border-radius: 6px;
    height: auto;
    color: white;
}

#deleteCredButton:hover, #cancelButton:hover {
    background-color: rgb(230, 15, 15);
}

/* Creds Form Window */

#credsFormWindow {
    background-color: #4c637a;
}

#newCredsButton, #saveButton {
    background-color: rgb(164, 216, 164);
    border: none;
    border-radius: 6px;
    padding: 2px;
    height: auto;
    color: white;
}

#newCredsButton:hover, #saveButton:hover {
    background-color: #78d860;
}

#fenetreQuality{
    background-color: #78d860;
    width: 100px;
}

/* Data Leak Page */

#credLeakBox {
    border: 2px solid rgb(60, 67, 73);
    background-color: rgba(255, 255, 255, 0.795);
    border-radius: 16px;
}

#credLeakDetailBox {
    text-align: center;
    background-color: transparent;
    padding: 5px;
}

#credLeakDetailBox QLabel {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.795);
    border: 1px solid rgb(167, 167, 167);
    border-radius: 8px;
    padding: 5px;
}
#displayNbWebsites{
    color: white;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 24px;
}
#backPwdQuality, #backParams, #loginBox{
    background-color: #7A93AC;
}

#boxPwdQuality {
    background-color: white;
    border-radius: 4px;
    padding: 20px 20px 20px 20px;
}
#boxPwd{
    padding: 10px;
}

#solidityPwd{
    background-color: white;
    border-radius: 4px;
    padding: 20px 20px 20px 20px;
    font-size: 12px;
}
#verifTitle{
    font-size: 24px;
    color: white;
    margin: 10px;
}
#pwdInput{
    width: 70%;
}
QCheckBox:checked{
    background-color: lightskyblue;
    width: 40px;
}
#genPwdMain{
    background-color: #7A93AC;
    border: 2px solid white;
}
#genPwdTitle{
    color: white;
    font-size: 24px;
}
#emailBox QLabel{
    color: white;
    color: white;
}
#paramsBox{
    color: white;
    border-bottom: 2px solid white;
}
#bigTitle{
    color: white;
    font-size: 24px;
}
#subTitle{
    color: white;
    font-size: 16px;
}
radioBtnParams{
    color: white;
    font-size: 16px;
    background-color: #eee;
}
radioBtnParams:hover{
    color: white;
    font-size: 16px;
    background-color: #ccc;
}
#loginLabelTitle{
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    color: white;
}
#inputLogin{
    border: none;
    background-color: #7A93AC;
    outline: none;
    border-bottom: 2px solid white;
}
#loginLabels{
    color: white;
    font-size: 16px;
}

/* Edit Email Window */

#editEmailWindow, #editPasswordAccountWindow {
    border: none;
    color: white;
    background-color: #4c637a;
}

#editPasswordAccountWindow QLabel, #editEmailWindow QLabel {
    font-weight: bold;
    color: white;
}

#editPasswordAccountWindow QLineEdit, #editEmailWindow QLineEdit {
    background-color: rgb(228, 228, 228);
    border: 1px solid gray;
    color: black;
    border-radius: 8px;
    padding: 4px;
}