/* Dark Mode Main Window */

QMainWindow {
    background-color: rgb(112, 112, 145);
}

QApplication {
    border-color: rgb(29, 32, 63);
}

#themeButton {
    background-color: rgb(58, 57, 117);
    border-radius: 4px;
    height: auto;
    width: auto;
    max-width: 30px;
    border: 2px solid transparent;
    /*border: 2px solid black;*/
    /*color: white;*/
    margin: 10px;
}

#themeButton:hover {
    /*background-color: rgb(32, 32, 32); */
    border-color: rgb(19, 19, 19);
}

/* Creds Widget */

#credsWidget {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

#credsWidget QScrollArea {
    background-color: transparent;
}

#credsWidget, #credsContainer {
    background-color: rgb(72, 113, 160);
}

#credsContainer {
    margin: 0;
}

#credBox {
    border: 2px solid rgb(60, 67, 73);
    border-radius: 16px;
}

#credDetailsBox {
    text-align: center;
    /*border: 2px solid red;*/
}

#credDetailsBox QLabel {
    background-color: rgba(255, 255, 255, 0.795);
    border: 1px solid rgb(167, 167, 167);
    border-radius: 8px;
    padding: 5px;
}

#editCredButton {
    background-color: rgb(55, 72, 85);
    border: 1px solid rgb(55, 72, 85);
    border-radius: 8px;
    color: white;
    height: 25px;
    top: 20px;
    margin-top: 10%;
}

#cancelButton {
    background-color: red;
    color: white;
}

/* Creds Form Window */

#credsFormWindow {
    background-color: #4c637a;
}

#newCredsButton {
    background-color: rgb(164, 216, 164);
    border: none;
    border-radius: 4;
    padding: 2;
    height: auto;
    color: white;
}

#newCredsButton:hover {
    background-color: #78d860;
}
