/* LightMode */ 

QMainWindow {
    background-color: rgb(216, 224, 226);
}

QApplication {
    border-color: red;
}

.searchButton {
    background-color: rgb(230, 188, 188);
    border-radius: 4px;
    border: 2px solid black;
    color: var(--color-text-button)
}

.searchButton:hover {
    background-color: red;
    border-color: aqua;
}